<!doctype html>
<html>

<head>
    <meta charset=" utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width = device-width, minimal-ui, initial-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-title" content="ISM">
    <title>Test</title>
    <script src="jquery.min.js"></script>
</head>

<body>
    <div>
        <p>This is type json api test</p>

        <div>
            <button id="reqA">测试</button>
            <button id="redirect">submit User</button>
        </div>
        <code id="repA"></code>

        <form action="/goto/index2">
            <input type="submit" value="服务器挑战测试" ></input>
        </form>
    </div>
    <script>
        $(function () {

            $('#reqA').click(function () {
                $.getJSON('/users/zh', function (data) {
                    console.log('respone data:', data);
                    $('#repA').text(JSON.stringify(data));
                });
            });

            $('#redirect').click(function(){
                $.post('/users/add', {name: 'test', sex:'man', age:500}, (data)=>{
                    console.log('post respone data:', data);
                    $('#repA').text(JSON.stringify(data));
                });
            });
        });
    </script>
</body>

</html>