<!doctype html>
<html>

<head>
    <meta charset=" utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width = device-width, minimal-ui, initial-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-title" content="ISM">
    <title>Test</title>
    <script src="jquery.min.js"></script>
</head>

<body>
    <div>
        <p>This is type json api test</p>

        <div>
            <button id="reqA">测试</button>
        </div>
        <code id="repA"></code>
    </div>
    <script>
        $(function () {

            $('#reqA').click(function () {
                $.getJSON('/users/zh', function (data) {
                    console.log('respone data:', data);
                    $('#repA').text(data.name);
                });
            });
        });
    </script>
</body>

</html>